@charset "utf-8";
	
			/* http://meyerweb.com/eric/tools/css/reset/ 
		   	v2.0 | 20110126
		   	License: none (public domain)
			*/

			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
				text-align:center;
			}
			
		
			h1{
				font-family: Helvetica, sans-serif;
				font-size: 100px;
				font-weight: bold;
				color:#547764;
			}
		
			li{
				font-family: Helvetica, sans-serif;
				font-size: 20px;
				text-align: center;
				background:#7DC3B3;
				float:left;
				padding:5px;
			}
		
			p{
				font-family: Helvetica, sans-serif;
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			a{
				text-decoration:none;
			}
			
			a:link {
			    color:#FFF9F9;
			}

			a:hover {
			    color:#08D847;
			}
			#menu_principal{
				margin:0 auto;
			}
			header{
				
				
			}
			.clear{
				clear:both;
			}

