#content {
	
	position:absolute;
	left:50%;
	padding:5px;
	background-color: #faac48;
	border: 2px solid #FFFFFF;
	color:#000;
	text-decoration:none;
	
	

}
button{
	font-family: OpenSans, bold;
	font-size: 30px;
	font-color: #ffffff;
	background-color: #ffffff;
	border-color: #ffffff;
	
	
}

h1{
	font-family :Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	text-align:center;
	position:absolute;
	color:#FFFFFF;
	
	}
	
